.option {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding : 10px;
    cursor : pointer;
}

.option:hover {
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
}

.option > h4 {
    margin-left: 5px;
}